body {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: $primery-clr;
    background-color: $primery-bg;
}

.container {
    max-width: 1400px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.main {
    flex-grow: 1;
}

.advice {
    background-color: #EA4C14;
    padding: 7px 15px;
    border-radius: 0 0 6px 6px;
    transition: all 0.5s ease-in-out;

    &:hover,
    &:focus {
        background-color: darken(#EA4C14, 5);
    }

    &:active {
        transform: translateY(100%) scale(0.98);
    }
}

.text-link {
    transition: color 0.5s ease, opacity 0.5s ease;

    &:hover,
    &:focus {
        color: $accent;
    }

    &:active {
        opacity: 0.8;
    }
}

.btn-large {
    background-color: $accent;
    color: $white;
    padding: 20px 65px;
    border-radius: 6px;
}

.btn-small {
    color: $white;
    padding: 20px 88px;
    border-radius: 6px;
    border: 1px solid #F5F5F5;
}