body {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 2px;
    color: #EFEFEF;
    background-color: #222224;
    // display: flex;
    // flex-direction: column;
    // overflow-x: hidden;
}

.container {
    max-width: 1400px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.main {
    flex-grow: 1;
}