<header class="header">
    <div class="container">
        <div class="header__inner">
            <a class="header__logo logo" href="#">
                <img class="logo__img" src="./images/icons/logo.svg" width="186" height="47" alt="Логотип BIMPRO">
            </a>
            <ul class="header__list">
                <li class="header__item"><a class="header__link" href="#">Услуги</a></li>
                <li class="header__item"><a class="header__link" href="#">Преимущества</a></li>
                <li class="header__item"><a class="header__link" href="#">Проекты</a></li>
                <li class="header__item"><a class="header__link" href="#">Команда</a></li>
                <li class="header__item"><a class="header__link" href="#">Гарантии</a></li>
                <li class="header__item"><a class="header__link" href="#">Контакты</a></li>
            </ul>
            <div class="header__contacts">
                <a class="header__number" href="tel:+78123301040">+7 812 330 10 40</a>
                <a class="header__email" href="mailto:project@bimpro.ru">project@bimpro.ru</a>
            </div>
        </div>

    </div>
</header>