<section class="hero">
    <div class="container">
        <div class="hero__inner">
            <div class="hero__content">
                <h1 class="hero__title">Визуализация любой сложности</h1>
                <p class="hero__text">
                    Создадим 3D Визуализации, презентационные интерактивные и VR-материалы, анимации, жилой и
                    коммерческой недвижимости.
                </p>
                <button class="hero__link btn-large" type="button">
                    Рассчитать стоимость проекта
                </button>
            </div>
            <div class="hero__slider slider-servise">
                <ul class="slider-servise__list">
                    <li class="slider-servise__item">
                        <img class="slider-servise__img" src="./images/services/residential-complexes.jpg" width="870"
                            height="517" alt="жилые комплексы">
                        <span class="slider-servise__heading">
                            жилые комплексы
                        </span>
                    </li>
                    <li class="slider-servise__item">
                        <img class="slider-servise__img" src="./images/services/architecture.jpg" width="870"
                            height="517" alt="жилые комплексы">
                        <span class="slider-servise__heading">
                            архитектура
                        </span>
                    </li>
                    <li class="slider-servise__item">
                        <img class="slider-servise__img" src="./images/services/interior.jpg" width="870" height="517"
                            alt="жилые комплексы">
                        <span class="slider-servise__heading">
                            интерьеры
                        </span>
                    </li>
                    <li class="slider-servise__item">
                        <img class="slider-servise__img" src="./images/services/visualization.jpg" width="870"
                            height="517" alt="жилые комплексы">
                        <span class="slider-servise__heading">
                            рекламная визуализация
                        </span>
                    </li>
                    <li class="slider-servise__item">
                        <img class="slider-servise__img" src="./images/services/3d-materials.jpg" width="870"
                            height="517" alt="жилые комплексы">
                        <span class="slider-servise__heading">
                            3D и VR материалы
                        </span>
                    </li>
                </ul>
                <div class="slider-servise__navigation">
                    <div class="slider-servise__dots"></div>
                </div>
            </div>
        </div>
    </div>
</section>